.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: red;
  }

  .span-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: black;
  }

  .ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

    .li-active {
      margin: 0rem 1rem;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 17px;
      border-bottom: 2px solid red;
    }

    .li {
      margin: 0rem 1rem;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 17px;
      &:hover {
        cursor: pointer;
      }

      .btn {
        border: solid 2px black;
        padding: 0.3rem 1rem;
        text-transform: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 17px;
      }
    }
  }
}
