@import './components/Navbar.scss';
@import './layout/index.scss';
@import './pages/home.scss';
@import './pages/createBlog.scss';
@import './pages/contact.scss';
@import './pages/blogs.scss';
@import './components/Blogcard.scss';
@import './pages/single-blog.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
